

<div class="vertical-menu">

  <!-- LOGO -->
  <div class="navbar-brand-box">

  </div>

  <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
    <i class="fa fa-fw fa-bars"></i>
  </button>

  <div data-simplebar class="sidebar-menu-scroll">

    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->

        <ul class="nav flex-column metismenu list-unstyled" id="side-menu">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" tabindex="-1" aria-disabled="false">Disabled</a>
  </li>
  <div class="slidecontainer">
  <p>Default range slider:</p>
  <input type="range" min="1" max="100" value="50">
</div>
</ul>
    </div>
    <!-- Sidebar -->
  </div>
</div>

